<!--searchlist-->
<header-bar search></header-bar>
<div class="search_list_page">
    <div class="tip">
        <div class="img"><img src="../images/waring.png" alt=""></div>
        <div class="text">
            <h5><span>暂时没有搜到{{value}}相关产品</span></h5>
            <p><span>您可以更换其他关键词试试看</span></p>
        </div>
    </div>
    <div class="list">
        <p class="look">大家都在买，机会不要错过啊！</p>
        <ul>
            <li ng-repeat="item in listArr">
                <div class="img">
                    <img ng-src="{{item.img}}" alt="">
                    <img ng-src="{{item.img}}" class="move_pic"  ng-class="{true:'move_cart1',false:'move_cart2'}[istrue]" />
                </div>
                <p class="name"><span>{{item.name}}</span></p>
                <p class="product-promotion">&nbsp;</p>
                <p class="specifics"><span>{{item.specifics}}</span></p>
                <p class="price"><span class="price">¥{{item.price| number:0}}</span>&nbsp;<span class="partner_price">¥{{item.partner_price}}</span></p>
                <span class="add" ng-click="addCart(item)">+</span>
                <span class="count" ng-show="count>0">{{count}}</span>
                <span class="remove" ng-show="count>0" ng-click="reduce(item)">-</span>
            </li>
        </ul>
    </div>
    <div class="cart" ng-click="goto()">
        <span class="allCount">{{totalCount}}</span>
        <img src="../images/cart2.png" alt="">
    </div>
</div>